.rbc-event {
  padding: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
  color: black;
}

.rbc-allday-cell {
  display: none !important;
}

.rbc-event-label {
  display: none !important;
} 